<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9e848e8f18.js" crossorigin="anonymous"></script>

</head>
<body>
    <div id="nav-parent">
        <div id="light"><i class="fa-solid fa-sun sun"></i></div>
        <div class="nav  show" id="home">
            <li><a href="#project"> projects</a></li>
            <li><a href="#contact"> contact</a></li>
            <li><a href="#skills" id="skill"> skills</a></li>
        </div>
    </div>
    <div class="main-above">
        <div class="main color">
            <div class="nav-icon">
               <a href='https://www.instagram.com/akhil____akki_?utm_source=qr' class><i class="fa-brands fa-instagram"> </i></a> 
               <a href="https://www.linkedin.com/in/akhil-donthula-63084626a/"> <i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Akhil-donthula-8977"><i class="fa-brands fa-github"></i></a>
            </div>
            <div class="main-1 color">
                <div>
                    <div style="text-align:center;">
                        <h1>Hii! I am </h1>
                        <h1>Akhil
                            donthula</h1>
                    </div>
                    <br>
                    <div style="text-align:center;">
                        <p>I am Akhil. I am pursuing my bachelor's degree in VIT, Vellore. I am passionate about gaining
                            knowledge on new skills and exploring my capabilities.</p>
                    </div>
                </div>
                <div>
                </div>
                <div>
                    <h3 id="hela">hey people do work,code and enjoy!!</h3>
                </div>
                </h1>
            </div>
            <div id="img">
                <img src="b7f57ec6-1965-4935-bc22-10326e1e817d.jpg" alt="Akhil">

                <div id="message">learning new things is crazy :)</div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-in">
        <h1 style="font-size:40px;"> skills</h1>
    </div>
    <div id="skills">

        <div class="card zero" data-aos="fade-right" data-aos-duration="1500" data-aos-easing="ease-in-sine">
            <div>
                <div>
                    <div class="top-card top-1" id="colorcard">
                        <div>
                            PROGRAMMING LANGUAGES
                        </div>
                    </div>

                    <div class="inner-card inner-1">
                        <h3 style="text-align: center;text-decoration: underline;">languages</h3>
                        <ul id="programming">
                            <li> java</li>
                            <li> c++</li>
                            <li> python</li>
                            <li>JQPL(java persistence query language)</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card one"></div>
        <div class="card two"></div>
        <div class="card three" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="ease-in-sine">
            <div>
                <div class="top-card top-2" id="colorcard">
                    <div>
                        FRAME
                        WORKS
                    </div>
                </div>
                <div class="inner-card inner-2" >
                    <h3 style="text-align: center;text-decoration: underline;">FrameWorks</h3>
                    <ul id="programming">
                        <li>Jquery</li>
                        <li> Spring boot</li>
                        <li> spring MVC</li>
                        <li> Hibernate</li>
                        <li>MYsql</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h4 style="margin-top: 30px;">projects will be added soon</h4>
    <footer>
        <div class="contact-footer" id="contact">
            <h3>Conatct-us</h3>
            please <a href="/contact">click here</a> to fill the query form
        <div class="footer-icon">
            <a href='https://www.instagram.com/akhil____akki_?utm_source=qr'><i class="fa-brands fa-instagram"> </i></a> 
               <a href="https://www.linkedin.com/in/akhil-donthula-63084626a/"> <i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/Akhil-donthula-8977"><i class="fa-brands fa-github"></i></a>
        </div>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
